@media (min-width: $md) {
	.grid {
		display: grid;
		grid-template-columns: 40vw auto;
	}

	.grid-left-side {
		position: fixed;
		width: 40vw;
	}

	.grid-right-side {
		grid-column-start: 2;
	}

	.container {
		width: 90%;
	}
}