//colours
$white: #fff;
$lt-lt-black: #666; // evil!
$lt-black: #333;
$black: #000;
$blue: #0047b3;
$lt-grey: #f2f2f2;
$grey: #d3d3d3;
$turquoise: #40E0D0;
$dk-red: #b30000;
$red: #e60000;
$dk-mustard: #ffb158;
$mustard: #ffdb58;
$lt-green: #85e085;
$purple: #38365B;
$salmon: #F57269;

// breakpoints
$sm: 768px;
$md: 992px;
$lg: 1200px;