// colours
$white: #fff;
$black: #000;
$blue: #5185E8;
$lt-black: #4a4a4a;
$blue: #5185E8;
$lt-blue: #70A2D3;
$black: #333;
$red: #F26762;
$green: #7CCC93;
$dk-green: #6A9694;
$purple: #38365B;
$salmon: #F57269;

// breakpoints
$sm: 768px;
$md: 992px;
$lg: 1200px;