.card {
	transition: all 0.1s linear;
	height: 350px;
	text-align: center;
	cursor: pointer;

	h1 {
		padding-top: 50px;
		color: $white;
		font-size: 3em;
	}
}

.card:hover {
	transform: scale(1.015);
	-webkit-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -o-transform: scale(1.015);
    -webkit-box-shadow:rgba(0,0,0,0.1) 0px 5px 15px;
    -moz-box-shadow:rgba(0,0,0,0.1) 0px 5px 15px;
    -o-box-shadow:rgba(0,0,0,0.1) 0px 5px 15px;
    box-shadow:rgba(0,0,0,0.1) 0px 5px 15px;
}

.portfolio {
	// snapchef
	.snapchef {
		
		background-color: #FF7800;

		h1 {
			font-family: 'roboto', sans-serif;
		}

		img {
			padding-top: 25px;
			width: 115px;
		}
	}

	// toronto waste lookup
	.toronto-waste-lookup {
		background-image: linear-gradient(to right, #235A92, #28955D);
	}

	// maclaughlin grain
	.maclaughlin-grain {
		background-color: $turquoise;

		h1 {
			font-family: 'Alegreya', serif;
			color: $black;
		}

		img {
			padding-top: 100px;
		}
	}
}
