* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: $black;
	transition: opacity 0.2s;
	text-decoration: none;
}	

a:hover {
	color: #5185E8;
	opacity: 0.5;
	transition: opacity 0.2s;
}

p {
	font-size: 15px;
}