div {
	padding-bottom: 50px;
}

p {
	line-height: 28px;
	font-size: 16px;
	font-weight: 100;
}

.about {
	padding-top: 50px;

	img {
		display: block;
		margin: 25px auto;
		width: 100px;
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}

.resume {
	cursor: pointer;
}

@media(min-width: $md) {
	p {
		text-align: left;
		line-height: 48px;
		font-size: 32px;
	}

	.about {
		img {
			display: block;
			margin: 25px 0;
			width: 100px;
		}
	}
}