@media(min-width: $md) {
	.portfolio {
		grid-template-columns: repeat(3, 1fr);
	}

	// SnapChef
	.snapchef-modal {
		.modal-content {
			.snapchef-views {
				
				display: table;
				margin: 0 auto;

				img {
					display: inline-block;
				}

				img:not(:last-child) {
					padding-right: 25px;
				}
			}

			.snapchef-list {
				display: table;
				margin: 0 auto;
				list-style-type: dash;
				font-weight: 100;
			}

			#snapchef-overview {
				width: 75%;
			}
		}
	}
}